<! DOCTYPE html>
<html lang="en">
	<head>
	   <meta charset="UTF-8">
	   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	   <meta name="description" content="Bookly is a bookstore rating app.">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-rfs/bootstrap-rfs.css">
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/queries.css">

		<title>Bookly</title>
	</head>
	<body>
		<!-- Nav Bar -->
		<nav id='nav' class='navbar navbar-expand-lg navbar-light'>
		  <a class='navbar-brand' href='/bookstores'>bookly</a>
		  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarToggleLinks' aria-controls='navbarToggleLinks' aria-expanded='false' aria-label='Toggle navigation'>
		    <span class='navbar-toggler-icon'></span>
		  </button>

		  <div class='collapse navbar-collapse' id='navbarToggleLinks'>
		    <ul class='navbar-nav mr-auto mt-2 mt-lg-0'>
		    	<% if(!currentUser){ %>
					<li class='nav-item active'>
			        <a class='nav-link' href='/login'>Login <span class='sr-only'>(current)</span></a>
			      </li>
			      <li class='nav-item'>
			        <a class='nav-link' href='/register'>Sign Up</a>
			      </li>
		    	<% } else { %>
					<li class='nav-item'>
			        <a class='nav-link' href='/logout'>Logout</a>
			      </li>
			      <li class='nav-item'>
			      	<a id='curr-username' class='nav-link'>Signed in as <%= currentUser.username %></a>	
			    	</li>
		    	<% } %>
		    </ul>
		    <form class='form-inline my-2 my-lg-0'>
		      <input class='form-control mr-sm-2' type='search' placeholder='Search'>
		      <button id='search-button' class='btn btn-outline-info my-2 my-sm-0' type='submit'>
		      		<i class='fas fa-search'></i>
		      </button>
		    </form>
		  </div>
		</nav>
		