<% include ./partials/header %>

	<div class='container mt-5 text-center'>
		<h1 class='mb-3'>Landing Page!</h1>

		<p>Welcome to bookly</p>

		<a href='./bookstores'>View all bookstores</a>
	</div>

<% include ./partials/footer %>