/* ----------------------------------------------------------- */
/* CSS VARIABLES  */
/* ----------------------------------------------------------- */
:root {
   --accent-color: #1fc8e3;
   --font-color: #555;
   --white-bg-color: #f7f7f7;
   --grey-bg-color: #f4f4f4;
}


/* ----------------------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------------------- */
html,
body {  
    background-color: var(--white-bg-color);
    color: var(--font-color);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
}


/* ----------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------------------- */
/* Buttons */
.btn-info {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
	color: var(--grey-bg-color);
}

.btn-info:hover,
.btn-outline-info:hover {
	background-color: #17a2b8;
	border-color: #17a2b8;
	color: var(--grey-bg-color);
}

.btn-outline-info {
	color: var(--accent-color);
	border-color: var(--accent-color);
}

.btn-warning {
	background-color: #eead0e;
	border-color: #eead0e;
	color: var(--grey-bg-color);
}

.btn-outline-warning {
	color: #eead0e;
	border-color: #eead0e;
}

.btn-warning:hover,
.btn-outline-warning:hover {
	background-color: #ce960c;
	border-color: #ce960c;
	color: var(--grey-bg-color);
}

/* Forms */
.form-control {  /* update bootstrap class */
	color: var(--font-color); 
	font-weight: 300;
}

/* Text colors */
.text-info-edit, .text-info-edit:hover { color: var(--accent-color); }

/* Cards */
#bookstore-cards, 
#bookstore-show-card { 
	background-color: var(--white-bg-color);
	border: 1px solid #ececec; 
}

/* Lines */
hr {
	border: 0;
	margin: 0;
	height: 1.5px;
	background-color: #ececec;
}


/* ----------------------------------------------------------- */
/* NAVBAR */
/* ----------------------------------------------------------- */
#nav { background-color: var(--white-bg-color); }

#search-button { height: calc(1.5em + .75rem + 2px); }  /* So height is the same as search box */

#curr-username, #curr-username:hover { color: var(--accent-color); }


/* ----------------------------------------------------------- */
/* INDEX (BOOKSTORE) ROUTE  */
/* ----------------------------------------------------------- */
/* Jumbotron */
#bookstore-jumbotron { background-color: var(--grey-bg-color); }

/* Cards */
#bookstore-name {
	font-size: 1.20rem;
	font-weight: 400;
}

/* ----------------------------------------------------------- */
/* BOOKSTORE SHOW ROUTE  */
/* ----------------------------------------------------------- */
#bookstore-show-name,
#bookstore-show-sub { 
	font-weight: 300; 
}

