/* ------------------------------------------------------------------- */
/* CUSTOMIZE CARD CARD TILING & SEARCH BAR LENGTH ON /BOOKSTORES ROUTE */
/* ------------------------------------------------------------------- */
/* Extra small screens */
@media (max-width: 34em){
    #search-bar { width: 80%; }
}

/* Small screens */
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    #search-bar { width: 70%; }
}

/* Medium screens */
@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    #search-bar { width: 55%; }
}

/* Large screens */
@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }

    #search-bar { width: 40%; }
}

/* Extra large screens */
@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }

    #search-bar { width: 35%; }
}
