<% include ../partials/header %>

<!-- Header -->
<header id='bookstore-jumbotron' class='jumbotron jumbotron-fluid py-5'>
	<div class='container'>
		<h1 class='display-1'>bookly</h1>
		<p class='lead'>Get reading. Find & review bookstores.</p>
		<form class='form-inline' action='/bookstores' method='GET'>
			<input id='search-bar' class='form-control mr-1' type='text' name='search' placeholder='Search for bookstores'>
			<button id='search-button' class='btn btn-outline-info' type='submit'>
		    	<i class='fas fa-search'></i>
		   	</button>
		</form>
		<a class='btn btn-info rounded-pill px-3' href='/bookstores/new'>
			Add a Bookstore <sup><i id='add-store-icon' class='fas fa-plus pl-1'></i></sup>
		</a>
	</div>
</header>

<!-- Bookstore Gallery/Grid -->
<section id='bookstore-gallery' class='container'>
	<div class='card-columns text-center'>
		<% bookstores.forEach((bookstore) => { %>
			<div class='card mb-3 shadow-sm card-edits'>
				<img class='card-img-top' src = '<%= bookstore.image %>'>
				<div class='card-body'>
					<h2 id='bookstore-name' class='card-title'><%= bookstore.name %></h2>
					<p class='card-text'><%= bookstore.description %></p>
					<a class='btn btn-outline-info btn-sm' href='/bookstores/<%= bookstore._id %>'>More Info</a>
				</div>
			</div>		
		<% }) %>
	</div>
</section>

<% include ../partials/footer %>