<% include ../partials/header %>

<div class='container mt-5'>
	<h1 class='text-center mb-3'>Add a Bookstore</h1>

	<!-- Form to add a bookstore -->
	<div class='w-50 mx-auto'> <!--50% width, center horizontally-->
		<form action='/bookstores' method='POST'> <!--form sends data via post request-->
		  <div class='form-group'>
		    <label for='name'>Bookstore Name</label>
		    <input type='text' class='form-control' name='name' id='name' placeholder='Enter name of bookstore'>
		  </div>
		  <div class='form-group'>
		    <label for='image'>Photo of Bookstore</label>
		    <input type='text' class='form-control' name='image' id='image' placeholder='Enter image url'>
		  </div>
		  <div class='form-group'>
		    <label for='description'>Description</label>
 		    <textarea class='form-control' name='description' id='description' rows='3' placeholder='Provide a brief description of bookstore'></textarea>
		  </div>
		  <button type='submit' class='btn btn-info'>Submit</button>
		  <a class='btn btn-outline-info' href='/bookstores'>Go Back</a>
		</form>
	</div>	
	
</div>

<% include ../partials/footer %>