<% include ../partials/header %>

<div class='container mt-5'>
	<h1 class='text-center mb-3'>Edit Your Review</h1>

	<!-- Form to add a review -->
	<div class='w-50 mx-auto'> <!--50% width, center horizontally-->
		<form action='/bookstores/<%= bookstore_id %>/reviews/<%= review._id %>?_method=PUT' method='POST'> 
		  <div class='form-group'>
		    <textarea class='form-control' name='review[text]' rows='5'><%= review.text %></textarea>
		  </div>
		  <button type='submit' class='btn btn-info'>Submit</button>
		  <a class='btn btn-outline-info' href='/bookstores/<%= bookstore_id %>'>Go Back</a>
		</form>
	</div>	
</div>

<% include ../partials/footer %>